/* selector kombinasi */
body{
    background-color: beige;
}
#header{
    background-color: burlywood;
    text-align: center;
    /* padding urutan, atas, kanan, bawah, kiri */
    padding: 5px 5px 5px 5px
}
#header h1{
    color: blue;
}
#header blockquote{
    background-color: yellow;
    border: 2px dotted;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.menu a{
    text-decoration: none;
    color: black;
}
.gambar{
    text-align: center;
}
.gambar img{
    width: 20%;
}
.koleksi{
    text-align: center;
}
.koleksi img{
    width: 20%;
}
.fp::first-letter{
    color: blue;
    font-size: 50px;
}